<mat-card class="about-card">
    <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
        <mat-card-subtitle>Learn more about our company</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            We are a company dedicated to providing the best service to our customers.
            Our team is composed of highly skilled professionals who are passionate about their work.
            We strive to continuously improve our services and customer satisfaction is our top priority.
        </p>
        <p>
            We are a company dedicated to providing the best service to our customers.
            Our team is composed of highly skilled professionals who are passionate about their work.
            We strive to continuously improve our services and customer satisfaction is our top priority.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="openContactForm()">Contact Us</button> </mat-card-actions>
</mat-card>

<mat-card class="contact-card" *ngIf="showContactForm">
    <mat-card-header>
        <mat-card-title>Contact Us</mat-card-title>
    </mat-card-header>
    <div class="form-container">
        <mat-card-content>
            <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                <div>
                    <mat-form-field>
                        <mat-label>Subject</mat-label>
                        <input matInput formControlName="subject" required>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Message</mat-label>
                        <textarea matInput formControlName="message" required></textarea>
                        <mat-icon matSuffix>message</mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions> 
            <button (click)="sendEmail()" mat-button type="submit">Send</button>
            <mat-spinner *ngIf="isLoading" [diameter]="50"></mat-spinner>
        </mat-card-actions>
    </div>
</mat-card>