<h1 mat-dialog-title class="dialog-title">{{ data ? 'Edit Comment' : 'New Comment' }}</h1>
<div mat-dialog-content class="dialog-content">
    <form [formGroup]="commentForm">
        <mat-form-field appearance="fill" class="dialog-field">
            <mat-label>Content</mat-label>
            <input matInput formControlName="content" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="dialog-field">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onNoClick()" class="cancel-button">Cancel</button>
    <button mat-button (click)="save()" [disabled]="!commentForm.valid" class="save-button">Save</button>
</div>