<div>
    <mat-card class="about-card">
        <mat-card-header>
            <mat-card-title>Welcome</mat-card-title>
            <mat-card-subtitle>Learn more about our company</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Welcom to our blog page where you can find the latest news and updates about our company.
              And you can also find the latest news and updates about our company.

              

            </p>

        </mat-card-content>
        <mat-card-actions>
            <button [routerLink]="'/posts'" center mat-button>See latest Posts</button>
        </mat-card-actions>
        
        <div class="div">
        </div>
    </mat-card>


    <mat-card class="about-card">
        <mat-card-header>
            <mat-card-title>About us</mat-card-title>
            <mat-card-subtitle>Learn more about our company</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                We are a company dedicated to providing the best service to our customers.
                Our team is composed of highly skilled professionals who are passionate about their work.
                We strive to continuously improve our services and customer satisfaction is our top priority.
              

            </p>

        </mat-card-content>
        <mat-card-actions>
            <button [routerLink]="'/about'" center mat-button>See more</button>
        </mat-card-actions>
        
        <div class="div">
        </div>
    </mat-card>
</div>